
@model Models.Customer

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Update Product";
}

<h1>Update Customer</h1>


<form asp-action="UpdateCustomer">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CId" />
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="CFirstName"></label>
            <input type="text" class="form-control" asp-for="CFirstName" placeholder=@Model.CFirstName required />
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="CName"></label>
            <input type="text" class="form-control" asp-for="CName" placeholder="@Model.CName" />
        </div>
    </div>
    <input type="submit" value="Update Customer" class="btn btn-secondary" />
    <button class="btn btn-secondary" asp-controller="Customer" asp-action="Index">Back to customer list</button>

</form>